.*
*~
!.gitignore
!.htaccess

# IDE
/.idea
/nbproject
/*.PHPEditProject

# npm
/node_modules

# Laravel vendor packages
/vendor

*.bak
*_bak
*_bak.*
*_bkp
*_bkp.*
*_tmp

# 生成和测试的文件
/a/
/t/
/html/
/index.html
/agent/
/tiku/
/book/
/about/
/help/
/caikuai/
/course/
/english/
/gongcheng/
/news/
/teacher/*.html
/shiting/*
/interview/
/fangtan/
/kaoshi/
/protocol/
/install/

/member/srt/
/exam/
/examapp/Public/paper_create/
/examapp/Runtime/
/examapp/RemQuesTpl/
/agentapp/Runtime/
/union/Runtime/
/ask/Runtime/
/ask/data/cache/
/MAPI/Runtime/

/cpanel/cards/
/cpanel/vcards2/
/cpanel/agent2/
/YMDPHP/

/buyCourseActive/Cache/

Thumbs.db
